/* Fonts */


@font-face {
    font-family: localiza;
    src: url(fonts/localizadindisplay-reg.otf);
}

@font-face {
    font-family: localizal;
    src: url(fonts/localizadindisplay-light.otf);
}

@font-face {
    font-family: localizab;
    src: url(fonts/localizadindisplay-bold.otf);
}

@font-face {
    font-family: localizat;
    src: url(fonts/localizadindisplay-thin.otf);
}

@font-face {
    font-family: localizam;
    src: url(fonts/localizadindisplay-med.otf);
}


/* -------- Config Geral -------- */
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

html {
    overflow-x: hidden;
}

/* -------- Content -------- */

.section_80 {
    max-width: 1200px;
    margin: auto;
}

.bfixed {
    width: 141px;
    height: 180px;
    background-image: url(img/blateral.png);
    position: fixed;
    right: 0;
    top: 10%;
    z-index: 5;
}

.bfixed h2 {
    font-size: 17px;
    text-align: center;
    margin-top: 72px;
    color: #429652;
    font-family: localiza;
}

/* -------- Banner -------- */

.topo {
    width: 100%;
    margin: auto;
    height: 470px;
    /*background-image: url(img/topo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;*/
    background-color: #73af47;
    position: relative;
    overflow: hidden;
    display: block;

}

.axuste {
    max-width: 1725px;
    height: 470px;
    margin: auto;
    position: relative;
}

.top1 {
    position: absolute;
    width: 90%;
    max-width: 1725px;
    max-height: 470px;
    bottom: 0%;
    left: 4.6%;

}

.top2 {
    position: absolute;
    width: 90%;
    max-width: 1725px;
    max-height: 470px;
    top: -100%;
    left: 4.6%;
    animation-name: top2;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    display: none;

}

@keyframes top1 {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 0%;
    }
}

@keyframes top2 {
    0% {
        top: -100%;
    }

    100% {
        top: 0%
    }
}


.cipo1 {
    position: absolute;
    top: -100%;
    left: 14%;
    width: 12%;
    animation-name: cipo;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.cipo2 {
    position: absolute;
    top: -100%;
    left: 2%;
    width: 12%;
    animation-name: cipo;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.cipo3 {
    position: absolute;
    top: -100%;
    right: 2%;
    width: 12%;
    animation-name: cipo;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.cipo4 {
    position: absolute;
    top: -100%;
    right: 23%;
    width: 10%;
    animation-name: cipo;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.cipo5 {
    position: absolute;
    top: -100%;
    left: 7%;
    width: 10%;
    animation-name: cipo;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.cipo6 {
    position: absolute;
    top: -100%;
    right: 2%;
    width: 9%;
    animation-name: cipo;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.cipo7 {
    position: absolute;
    top: -100%;
    right: 40%;
    width: 12%;
    animation-name: cipo7;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.cipo8 {
    position: absolute;
    top: -100%;
    right: 26%;
    width: 10%;
    animation-name: cipo8;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.cipo9 {
    position: absolute;
    top: -100%;
    left: 1%;
    width: 10%;
    animation-name: cipo;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.cipo10 {
    position: absolute;
    top: -100%;
    left: 12%;
    width: 10%;
    animation-name: cipo10;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}


@keyframes cipo {
    0% {
        top: -100%;
    }

    100% {
        top: 0%
    }
}

@keyframes cipo7 {
    0% {
        top: -100%;
    }

    100% {
        top: -45%
    }
}

@keyframes cipo8 {
    0% {
        top: -100%;
    }

    100% {
        top: -62%
    }
}

@keyframes cipo10 {
    0% {
        top: -100%;
    }

    100% {
        top: -11%
    }
}

.planta {
    position: absolute;
    bottom: -100%;
    right: 15%;
    width: 18%;
    animation-name: planta;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.planta2 {
    position: absolute;
    bottom: -100%;
    right: 35%;
    width: 18%;
    animation-name: planta2;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.planta3 {
    position: absolute;
    bottom: -100%;
    left: 17.3%;
    width: 10%;
    animation-name: planta3;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes planta {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 0%;
    }
}

@keyframes planta2 {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 0%;
    }
}

@keyframes planta3 {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 0%;
    }
}

.bird1 {
    position: absolute;
    top: -100%;
    left: 20%;
    width: 13%;
    animation-name: bird1;
    animation-duration: 3s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.bird2 {
    position: absolute;
    top: -100%;
    right: 9%;
    width: 13%;
    animation-name: bird2;
    animation-duration: 3s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes bird1 {
    0% {
        top: -100%;
        left: -100%;
    }

    100% {
        top: 4%;
        left: 20%;
    }
}

@keyframes bird2 {
    0% {
        top: -100%;
        right: -100%
    }

    100% {
        top: -9%;
        right: 9%;
    }
}

.topo h1 {
    font-size: 33px;
    font-family: localizam;
    line-height: 1.6;
    text-align: left;
    padding-top: 150px;
    margin: auto;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    margin-left: 58%;
}

.reserve {
    margin: auto;
    background-image: url(img/botaot.png);
    padding-left: 65px;
    text-align: left;
    font-size: 25px;
    font-family: localiza;
    width: 275px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8px;
    color: #fff;
    position: absolute;
    top: 70%;
    left: 39.5%;

}

/* -------- Episódios -------- */

.episodios {}

.episodios h2 {
    text-align: center;
    font-size: 30px;
    color: #73af46;
    letter-spacing: 3px;
    line-height: 1.6;
    font-family: localiza;
    margin-top: 50px;
    margin-bottom: 50px;
}

.episodios p {
    text-align: center;
    font-size: 20px;
    font-family: localiza;
    color: #73af46;
    line-height: 1.4;
    margin-bottom: 60px;
}

.epi {
    margin-bottom: 30px;
}

.epi .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.epi .row>[class*='col-'] {
    display: flex;
    flex-direction: column;
}

.info_episode {
    box-shadow: inset 0px 0px 0px 3px #73af46;
    background-color:#73af46;
    border-radius: 2em;
    height: 100%;
}

.epi_center {
    /* margin: 0; */
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 93%;
}

.info_episode p {
    padding: 10px 10px;
    color: #fff;
    margin-bottom: 0px;
}

.info_episode p a {
    text-decoration: none;
    color: #d5d843;
}

.info_episode p a:visited {
    text-decoration: none;
    color:#d5d843;
}

.info_episode img {
    margin: auto;
    display: block;
    margin-top: 0px;
    padding-bottom: 30px;
    border-bottom: 2px solid #fff;
    margin-bottom: 0px;
}

.list_episode {
    display: flex;
    margin-top: 50px;
}

.list {
    width: 19%;
    text-align: center;
    background-color: #ccc;
    color: #fff;
    margin-left: 0.6%;
    margin-right: 0.6%;
    cursor: pointer;
    z-index: 1;
    outline: inherit;
    outline-offset: 2px;
}

.list img{
    width:100%;
    height:100%;
}

.list:nth-child(1) {
    margin-left: 0px;
}

.list:nth-child(5) {
    margin-right: 0px;
}

/* -------- Websérie -------- */

.webserie {

    position: relative;
    padding-bottom: 3%;

}

.botaoweb {
    width: 215px;
    height: 75px;
    background-image: url(img/botaowebserie.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 5px;
    text-align: center;
    font-family: localiza;
    font-size: 24px;
    color: #429652;
    margin-bottom: 0px;
    margin-top: 35px;
    cursor: pointer;

}

.bg_web {
    background-color: #73af46;
}

.webserie h2 {
    font-size: 30px;
    letter-spacing: 3px;
    font-family: localiza;
    color: #fff;
    line-height: 1.4;
    margin-bottom: 100px;
    text-align: center;
    margin-top: 5%;
    padding-top: 4%;
}

/* -------- Embarque -------- */


.embarque {
    position: relative;
}

.embarque h2 {
    text-align: center;
    font-size: 30px;
    color: #73af46;
    letter-spacing: 3px;
    line-height: 1.6;
    font-family: localiza;
    margin-top: 60px;
    margin-bottom: 50px;
}


.embarque p {
    text-align: center;
    font-size: 24px;
    color: #73af46;
    line-height: 1.4;
    font-family: localiza;
    margin-top: 0px;
    margin-bottom: 50px;

}

.iframe_full {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.iframe_responsive {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /*  background-image: url(img/iframe1.png); */
    background-size: cover;
    z-index: 1;
}

.foto360 .iframe-full{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 46.25%;
    z-index: 3;
}


.iframe-full {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    z-index: 3;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.iframe-responsive {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /*  background-image: url(img/iframe1.png); */
    background-size: cover;
    z-index: 1;
}

.setor .iframe-responsive {
    /*    background-image: url(img/iframe2.png); */
    background-size: cover;
    border: none;
}

.caminho {
    position: relative;
}

.eletro {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 80%;
    margin-left: 10%;
}

.eletroq {
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 0%;
}


.caminho h3 {
    text-align: center;
    font-size: 30px;
    font-family: localiza;
    color: #FFF;
    line-height: 1.6;
    margin-top: 60px;
    margin-bottom: 60px;
    letter-spacing: 3px;
    z-index: 1;
    position: relative;
}

.caminho h2 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
    line-height: 1.6;
    font-family: localiza;
    color: #73af46;
    margin-top: 10px;
    margin-bottom: 70px;

}

.iframe-section {}






/* Serviços */



.bg-service {
    box-sizing: inherit;
    background-color: #73af46;
    position: relative;
    padding-top: 1100px;
    margin-top: -1100px;
    padding-bottom: 4vw;
    z-index: 0 margin-bottom: 0px;
    padding-bottom: 1px;

}

.servicos {
    position: relative;
}

.servicos h2 {
    text-align: center;
    font-size: 30px;
    font-family: localiza;
    color: #FFF;
    line-height: 1.6;
    margin-top: 60px;
    margin-bottom: 60px;
    letter-spacing: 3px;
}

.buttons {
    position: relative;
    margin-bottom: 70px;
    border: 3px solid #fff;
    border-radius: 2em;
}

.buttons .col-md-3 {
    margin-left: -1%;
    margin-right: -1%;
}

.buttons h2 {
    text-align: center;
    font-size: 26px;
    font-family: localizam;
    color: #fff;
    margin-bottom: 20px;

}

.buttons p {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 20px;
    font-family: localiza;
    color: #fff;
    line-height: 1.4;

}

.buttons a {
    text-decoration: none;
}

.botaon {
    width: 215px;
    height: 75px;
    background-image: url(img/botaog.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: contain;
    padding-top: 20px;
    font-family: localiza;
    font-size: 24px;
    color: #429652;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 20px;

}

.botaog {
    width: 215px;
    height: 75px;
    background-image: url(img/botaog.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 5px;
    text-align: center;
    font-family: localiza;
    font-size: 24px;
    color: #429652;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 20px;
}



.sl {
    position: relative;
}

.col-4.sl {}

.slide {
    position: relative;
}

.slide h3 {
    font-size: 30px;
    font-family: localiza;
    color: #fff;
    letter-spacing: 3px;
    line-height: 1.4;
    text-align: left;
    margin-bottom: 30px;
}

.slide p {
    font-size: 20px;
    font-family: localiza;
    color: #fff;
    line-height: 1.4;
    text-align: left;
    padding-right: 1%;

}

.slide_ft {
    position: relative;
    margin-bottom: 70px !important;
    width: 90%;
    margin: auto;

}

.slide_ft .setad {
    margin-right: -7.5%;
    cursor: pointer;
}

.slide_ft .setae {
    margin-left: -7.5%;
    cursor: pointer;
}



.slide_ft h3 {
    font-size: 30px;
    font-family: localiza;
    color: #fff;
    letter-spacing: 3px;
    line-height: 1.4;
    text-align: left;
    margin-bottom: 30px;
}

.slide_ft p {
    font-size: 20px;
    font-family: localiza;
    color: #fff;
    line-height: 1.4;
    text-align: left;
    padding-right: 7.5%;

}

.slide_ft .slick-track {
    width: 100%;
}

.foto360 img {
    width: 100%;
}

.tre_ft img {
    width: 95%;
}

.tre_ft {
    margin-top: 70px;
    width: 20%;
    cursor: pointer;
}

.tre_ft:nth-child(2n+1) {
    margin-top: 0px;
}

.setae,
.setad {
    position: absolute;
    top: 40%;
    border: none;
    background-color: inherit;
}

.setad.slick-arrow.slick-disabled {
    filter: grayscale([ |]);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);

}

.setae.slick-arrow.slick-disabled {
    filter: grayscale([ |]);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);

}

.setae:active {
    border: none;
}

.setae {
    left: 0;
    z-index: 1;
    margin-left: -2%;
    cursor: pointer;
}

.setad {
    right: 0;
    margin-right: -2%;
    cursor: pointer;
}

.slide span {
    color: #4490d0;

}

.slide_ft span {
    color: #4490d0;

}

/* Flutuantes */


.casal {
    width: 90%;

}

.ramoe {
    position: absolute;
    left: -10%;
    top: -0.3%;
    width: 8%;
}

.ramod {
    position: absolute;
    top: -0.3%;
    right: -10%;
    width: 8.5%;
}

.nuvemb {
    position: absolute;
    top: -8%;
    left: -10%;
    width: 25%;
    z-index: 1;
}

.nuvens {
    position: relative;
    width: 100%;
    background-color: #73af46;
    height: 0px;
}

.nuvem1 {
    position: absolute;
    top: -1200px;
    left: 0;
    width: 8.5%;
}

.nuvem2 {
    position: absolute;
    top: -1090px;
    right: 3%;
    width: 15.5%;
}

.nuvem3 {
    position: absolute;
    top: -500px;
    left: 0;
    width: 13.5%;
}

.gsol {
    position: absolute;
    top: 390px;
    width: 15%;
    left: 4%;
    z-index: -1;
}

.onda {
    position: absolute;
    right: 8%;
    top: 600px;
    width: 14%;
    z-index: 1;
}

.estradavermelha {
    position: absolute;
    left: 0%;
    top: 930px;
    width: 56%;
    z-index: -1;
}

.estradacinza {
    position: absolute;
    width: 100%;
    left: -15%;
    top: -34.5%;
}

.placasetas {
    position: absolute;
    width: 29%;
    right: -22%;
    top: -11%;
}

.coqueiro {
    position: absolute;
    left: -18%;
    bottom: -6%;
    width: 25%;
    z-index: 0;
}

.foto {
    position: absolute;
    right: -12%;
    width: 19%;
    top: -9%;
}

.montanha {
    position: absolute;
    width: 25%;
    left: -14.5%;
    z-index: -1;

}

.estradav {
    position: absolute;
    right: -29%;
    top: 16%;
    width: 90%;
    z-index: -1;
}

.estradave {
    position: absolute;
    left: -30%;
    top: 28.5%;
    width: 31%;
    z-index: -1;
}


.textura1 {
    position: absolute;
    left: 0%;
    top: -24vw;
    width: 25%;
    z-index: -1;
}

.textura2 {
    position: absolute;
    right: 0%;
    top: 30vw;
    width: 15%;
}

.estradaa {
    position: absolute;
    right: -2%;
    top: 49%;
    width: 50%;
    z-index: -1;
}


.beijaflor {
    position: absolute;
    width: 20%;
    right: -24%;
    bottom: 25%;
    z-index: 1;

}

.gps {
    position: absolute;
    width: 15%;
    right: 0;
    max-width: 290px;
    margin-top: -19%;
    z-index: 1;
}


.floresta {
    position: absolute;
    width: 35%;
    left: -19%;
    bottom: 8%;
    z-index: 1;
}


.mochileiros {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 28%;
    max-width: 600px;
    z-index: 0;
}


.artistas h2 {
    text-align: center;
    font-size: 30px;
    color: #429652;
    letter-spacing: 3px;
    line-height: 1.6;
    font-family: localiza;
    padding-top: 5%;
    margin-bottom: 50px;
}

.artistas h3 {
    text-align: left;
    font-size: 30px;
    color: #429652;
    letter-spacing: 3px;
    line-height: 1.6;
    font-family: localiza;
    margin-top: 0px;
    margin-bottom: 50px;
}

.artistas p {
    text-align: left;
    font-size: 20px;
    font-family: localiza;
    color: #429652;
    line-height: 1.4;
    margin-bottom: 40px;
}

.artistas .slide_art p {
    font-style: italic;
}

.slide_art span {
    color: #429652;
}

.artistas img {
    width: 100%;
}

.avatar {
    display: block;
}

.avatar span {
    margin: auto;
    font-family: localizab;
    padding-left: 15px;
    font-size: 20px;
    float: left;
    padding-top: 5%;
}

.avatar span a {
    margin: auto;
    font-family: localizab;
    font-size: 20px;
    color: #429652;
    text-decoration: none;

}

.artistas .sl {
    margin: auto;
}

.artistas .avatar img {
    float: left;
    width: 94px;
    height: 94px;
}


.pranchas {
    width: 100%;
    position: relative;
    margin-bottom: -5px;
}

.prmar {
    width: 100%;
    margin-top: 1%;
    margin-bottom: -5px;
}

.prnuvd1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
}

.prnuve1 {
    position: absolute;
    top: 14vw;
    left: 1.8vw;
    width: 30% !important;
}

.prnuvd2 {
    position: absolute;
    top: -10vw;
    right: 0;
    width: 21%;
}

.prnuve2 {
    position: absolute;
    top: -3.5vw;
    left: 0;
    width: 20%;

}


.footer_caminho {
    width: 100%;
    background-color: #429652;
    height: 240px;
}

.footer_caminho img {
    width: 250px;
    margin-top: 80px;
    margin-left: 21%;
}

.exib_episode {
    height: 444px;
}

.foto_control {
    height: 555px;
}

@media (max-width: 1726px) {


    .episodios h2 {

        font-size: 2vw;
        margin-top: 4%;
        margin-bottom: 4%;

    }

    .webserie h2 {
        font-size: 2vw;
        letter-spacing: 3px;
        font-family: localiza;
        color: #fff;
        line-height: 1.4;
        margin-bottom: 10%;
        text-align: center;
        margin-top: 5%;
        padding-top: 4%;
    }

    .info_episode img {
        width: 50%;
        margin-top: 5%;
        border-bottom: 2px solid #fff;
        margin-bottom: 2%;
        padding-bottom: 5%;
    }

    .episodios p {
        font-size: 1.1vw;
        line-height: 1.4;
    }

    .info_episode p {
        font-size: 1.1vw;
        padding: 5% 17%;
    }

    .list {
        padding-top: 0%;
        padding-bottom: 0%;
    }

    .topo h1 {
        font-size: 2vw;
        padding-top: 8%;
    }

    .embarque h2 {
        font-size: 2vw;
        letter-spacing: 0.3vw;
    }

    .embarque p {
        font-size: 1.5vw;
    }

    .caminho h2 {
        font-size: 2vw;
        letter-spacing: 0.3vw;
    }

    .caminho h3 {
        font-size: 2vw;
        letter-spacing: 0.3vw;
    }

    .section_80 {
        max-width: 62.5%;
    }

    .bg-service {
        margin-top: -59.5vw;
        padding-top: 59.5vw;
    }

    .servicos h2 {
        font-size: 2vw;
        letter-spacing: 0.3vw;
        line-height: 1.6;
    }

    .btn-up {
        margin-top: 5%;
    }

    .btn-bot {
        margin-top: 5%;
    }

    .buttons h2 {
        font-size: 1.1vw;
        margin: 0;
    }

    .buttons p {
        font-size: 1vw;
        padding-left: 0;
        padding-right: 0;
        line-height: 1.6;
    }

    .botaon {
        font-size: 21px;
        width: 12vw;
        margin-bottom: 5%;
    }

    .botaog {
        font-size: 21px;
        width: 12vw;
        margin-bottom: 5%;
        padding-top: 10px;
    }

    .slide h3 {
        font-size: 2vw;
    }

    .slide p {
        font-size: 1.07vw;
        line-height: 1.6;
    }

    .slide_ft h3 {
        font-size: 2vw;
    }

    .slide_ft p {
        font-size: 1.1vw;
        line-height: 1.6;
    }

    .slide_ft .setad img,
    .slide_ft .setae img {
        width: 75%;
    }

    .topo {
        height: 27vw;
    }

    .axuste {
        height: 27vw;
    }

    .mats {
        left: -5%;
        width: 40%;
    }

    .reserve {
        width: 21%;
        top: 14vw;
        padding-left: 4%;
        font-size: 1.8vw;
        background-size: contain;
        padding-top: 0.3%;

    }

    .artistas h2 {
        font-size: 2vw;
        padding-top: 7%;
    }

    .artistas .avatar img {
        width: 6vw;
        height: 6vw;
    }

    .artistas p {
        font-size: 1vw
    }

    .avatar span {
        font-size: 1vw
    }

    .avatar span a {
        font-size: 1vw
    }

    .setae,
    .setad {}




    .nuvem1 {
        position: absolute;
        top: -80vw;
        left: 0;
        width: 8.5%;
    }

    .nuvem2 {
        position: absolute;
        top: -68vw;
        right: 0;
        width: 14%;
    }

    .nuvem3 {
        position: absolute;
        top: -23vw;
        left: 0;
        width: 10%;
    }


    .mochileiros {
        width: 30%;
        z-index: 0;
    }


    .gsol {
        top: 23vw;
    }

    .onda {
        top: 34vw;
    }

    .estradavermelha {
        top: 52vw;
    }

    .estradacinza {
        top: -17.5vw;
        width: 120%;
        left: -19%;
    }

    .placasetas {
        position: absolute;
        width: 29%;
        right: -22%;
        top: -11%;
    }


    .coqueiro {
        position: absolute;
        left: -7%;
        bottom: -7%;
        width: 25%;
        z-index: 0;
    }

    .foto {
        position: absolute;
        right: -12%;
        width: 18%;
        top: -9%;
    }

    .montanha {

        width: 25%;
        left: -14.5%;

    }

    .estradav {
        top: 20%;
    }

    .estradave {
        top: 28.5%;
    }



    .estradaa {
        position: absolute;
        right: -2%;
        top: 49%;
        width: 50%;
        z-index: -1;
    }


    .beijaflor {
        position: absolute;
        width: 20%;
        right: -24%;
        bottom: 25%;

    }

    .gps {
        position: absolute;
        width: 15%;
        right: 0;
        max-width: 290px;
        margin-top: -19%;

    }

    .floresta {
        position: absolute;
        width: 35%;
        left: -19%;
        bottom: 8%;
    }

    .prnuve1 {
        position: absolute;
        top: 13vw;
        left: 1.8vw;
        width: 21% !important;
    }

    .exib_episode {
        height: 23vw;
    }

    .foto_control {
        height: 30vw;
    }

}

@media (max-width: 1000px) {
    .topo h1 {
        font-size: 2vw;
        padding-top: 7%;
    }
    .list_episode {
        display: flex;
        margin-top: 100px;
    }

    .section_80 {
        max-width: 80%;
    }

    .bg-service {
        margin-top: -80.5vw;
        padding-top: 80.5vw;
    }

    .botaog {
        font-size: 2.2vw;
        padding-top: 11px;
        width: 16vw;
    }

    .botaon {
        font-size: 2.2vw;
        width: 16vw;
        padding-top: 25px;
    }

    .embarque h2 {
        font-size: 1.8vw;
        margin-top: 6%;
        margin-bottom: 6%;
    }

    .embarque p {
        font-size: 1.1vw;

    }

    .caminho h2 {
        margin-top: 0px;
        margin-bottom: 6%;
        font-size: 2.6vw;
    }

    .caminho h3 {
        margin-top: 3%;
        margin-bottom: 6%;
        font-size: 2vw;
    }

    .servicos h2 {
        font-size: 2vw;
        margin-bottom: 6%;
        letter-spacing: 0.3vw;
    }

    .buttons h2 {
        font-size: 1.6vw;
    }

    .buttons p {
        font-size: 1.1vw;
    }

    .webserie h2 {
        font-size: 2.5vw;
    }

    .gsol {
        left: 0%;
        top: 4%;
        width: 16%;
    }

    .foto {
        right: 0%;
    }

    .estradav {
        position: absolute;
        right: -25%;
        bottom: 26%;
        width: 77%;
    }

    .topo {
        width: 100%;
        height: 27vw;
    }

    .axuste {
        height: 27vw;
    }

    .reserve {
        top: 17vw;
        width: 21%;
        padding-left: 5%;
        font-size: 1.8vw;
        background-size: contain;
        padding-top: 0.8%;
    }

    .mats {
        left: -5%;
        width: 40%;
    }

    .artistas p {
        font-size: 1.5vw
    }

    .avatar span {
        font-size: 1.5vw
    }

    .avatar span a {
        font-size: 1.5vw
    }

    .artistas .avatar img {
        width: 8vw;
        height: 8vw;
    }


    .nuvem1 {
        position: absolute;
        top: -108vw;
        left: 0;
        width: 8.5%;
    }

    .nuvem2 {
        position: absolute;
        top: -97vw;
        right: 0;
        width: 15.5%;
    }

    .nuvem3 {
        position: absolute;
        top: -35vw;
        left: 0;
        width: 10%;
    }

    .estradacinza {
        top: -22.5vw;
        width: 120%;
        left: -19%;
    }

    .estradavermelha {
        top: 59vw;
    }

    .textura2 {
        top: 50vw;
    }

    .avatar span {
        font-size: 2vw;
    }

    .eletroq {
        top: 10%;
    }

    .foto_control {
        height: 35vw;
    }

}

@media (max-width:767px) {

    .bfixed h2 {
        font-size: 1.7vw;
        margin-top: 51%;
    }

    .episodios h2 {
        font-size: 2.6vw;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .episodios p {
        font-size: 2.4vw;
        line-height: 1.4;
        margin-bottom: 5%;
    }


    .webserie h2 {
        font-size: 2.6vw;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    
    .slide h3 {
        font-size: 2.6vw;
        text-align: center;
        margin-top: 0%;
        margin-bottom: 5%;
    }

    .slide p {
        text-align: center;
        font-size: 2.4vw;
        line-height: 1.6;
        padding-left: 8%;
    }

    .slide_ft h3 {
        font-size: 2.6vw;
        text-align: center;
        margin-top: 13%;
    }

    .slide_ft p {
        text-align: center;
        font-size: 2.4vw;
        line-height: 1.6;
    }

    .embarque h2 {
        font-size: 2.6vw;
        letter-spacing: 0.3vw;
    }

    .embarque p {
        font-size: 2.4vw;
        margin-top: 5%;
        margin-bottom: 5%;
    }


    .caminho h2 {
        font-size: 2.6vw;
        letter-spacing: 0.3vw;
        margin-bottom: 5%;
    }
    .caminho h3 {
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 2.6vw;
    }


    .servicos h2 {
        margin-bottom: 5%;
        margin-top: 5%;
        font-size: 2.6vw;
    }


    .buttons h2 {
        font-size: 2.6vw;
    }

    .buttons p {
        font-size: 2.4vw;
    }

    .artistas h2 {
        font-size: 2.6vw;
        padding-top: 7%;
        letter-spacing: 0.3vw;
    }

    .artistas .slide_art p {
        padding: 5%;
        font-style: italic;
        margin-bottom: 0px;
        font-size: 2.4vw;
        text-align: center;
    }


    .avatar span {
        padding-top: 9%;
        font-size: 2.6vw
    }

    .avatar span a {font-size: 2.6vw}


    .epi_center {
         margin: 0; 
         position: inherit; 
        -ms-transform: translateY(0%);
        transform: translateY(0%);
         width: 100%; 
        display: flex;
        justify-content: center;
    }

    .info_episode p {
        padding: 0%;
        text-align: left;
        margin-top: auto;
        margin-bottom: auto!important;
        margin-left: 4%;
    }



    .info_episode img {
            width: 21vw;
            height: 21vw;
            margin-top: 2%;
            margin-bottom: 2%;
            padding-bottom: 0;
            margin-right: 0;
            margin-left: 0;
            border-bottom: none;
    }

    .info_episode {
        box-shadow: inset 0px 0px 0px 2px #73af46;
        border-radius: 2em;
        height: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .list {
        width: 19%;
        text-align: center;
        background-color: #ccc;
        color: #fff;
        margin-left: 0.6%;
        margin-right: 0.6%;
        padding-top: 0%;
        padding-bottom: 0%;
        cursor: pointer;
        font-size: 2.3vw;
    }

    .botaog {
        font-size: 20px;
        padding-top: 11px;
        width: 30vw;
    }

    .botaon {
        font-size: 20px;
        width: 30vw;
    }

    .botaoweb {
        margin: auto;
        width: 45%;
        font-size: 3vw;
        padding-top: 11px;
        margin-top: 7%;
    }

    .bfixed {
        width: 10%;
        height: 15%;
        background-size: contain;
        background-repeat: no-repeat;
    }



    .gsol {
        left: 0%;
        top: 2.3%;
        width: 20%;
    }



    .slide_ft {
        margin-bottom: 7% !important;
        width: 85%;
    }



    .slide_ft .setad {
        margin-right: -14%;
    }

    .slide_ft .setae {
        margin-left: -14%;
    }


    .slide_ft .setad img,
    .slide_ft .setae img {
        width: 30%;


    }



    .artistas .avatar img {
        float: left;
        width: 94px;
        height: 94px;
    }

    .artistas .avatar {
        padding: 5%;

    }


    .tre_ft {
        margin-top: 5%;
        width: 20%;
    }

    .buttons {

        border: 2px solid #fff;

    }

    .setae {
        top: 35%;
    }

    .setad {
        top: 35%;
    }

    .casal {
        width: 90%;
        padding-left: 10%;
    }

    .estradaa {
        position: absolute;
        right: -25%;
        top: 65%;
        width: 82%;
        z-index: -1;
    }

    .mats {
        left: -5%;
        width: 40%;
        bottom: -3.5%;
    }

    .nuvemb {
        top: -2%;
    }

    .nuvens {
        padding-top: 0%;
    }

    .estradav {
        top: 34%;
    }

    .estradave {
        top: 37.5%;
    }

    .mochileiros {
        width: 50vw;
        bottom: -36vw;
    }

    .onda {
        top: 103vw;
        right: -1vw;
    }

    .estradavermelha {
        top: 115vw;
    }

    .estradacinza {
        top: 35.5vw;
        width: 120%;
        left: -50%;
    }

    .placasetas {
        position: absolute;
        width: 29%;
        right: -22%;
        top: -4%;
    }

    .textura2 {
        top: 65vw;
    }

    .artistas .col-md-5.col-10.sl {
        margin: auto;
        margin-left: 10%;
    }


    .footer_caminho {
        width: 100%;
        background-color: #429652;
        height: 90px;
    }

    .footer_caminho img {
        width: 35%;
        margin-top: 20px;
        margin-left: 10%;
    }

    .exib_episode {
        height: 53vw;
    }

    .list_episode {
        display: flex;
        margin-top: 28%;
    }

}

@media (max-width:576px) {


    .topo h1 {
        font-size: 2.4vw;
        padding-top: 7%;
        margin-left: 54%;
    }


    .eletro {
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .exib_episode {
        height: 55vw;
    }

    .list_episode {
        display: flex;
        margin-top: 28%;
    }

    .episodios h2 {
        font-size: 2.6vw;
        margin-top: 5%;
        margin-bottom: 5%;
        letter-spacing: 0.3vw;
    }

    .episodios p {
        font-size: 2.8vw;
        line-height: 1.4;
        margin-bottom: 5%;
    }

    .webserie h2 {
        font-size: 2.6vw;
        margin-top: 10%;
        margin-bottom: 5%;
        letter-spacing: 0.3vw;
    }

    
    .slide h3 {
        font-size: 2.6vw;
        text-align: center;
        margin-top: 0%;
        letter-spacing: 0.3vw;
    }

    .slide p {
        text-align: center;
        font-size: 2.8vw;
        line-height: 1.6;
        padding-left: 0%;
        margin-bottom: 5%;
    }

    .slide_ft h3 {
        font-size: 2.6vw;
        text-align: center;
        margin-top: 13%;
        letter-spacing: 0.3vw;
    }

    .slide_ft p {
        text-align: center;
        font-size: 2.8vw;
        line-height: 1.6;
    }

    .embarque h2 {
        font-size: 2.6vw;
        letter-spacing: 0.3vw;
    }

    .embarque p {
        font-size: 2.8vw;
        margin-top: 5%;
        margin-bottom: 5%;
    }


    .caminho h2 {
        font-size: 2.6vw;
        letter-spacing: 0.3vw;
        margin-bottom: 5%;
    }
    .caminho h3 {
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 2.6vw;
        letter-spacing: 0.3vw;
    }


    .servicos h2 {
        margin-bottom: 5%;
        margin-top: 5%;
        font-size: 2.6vw;
        letter-spacing: 0.3vw;
    }


    .buttons h2 {
        font-size: 3vw;
        letter-spacing: 0.3vw;
    }

    .buttons p {
        font-size: 2.7vw;
    }

    .artistas h2 {
        font-size: 2.6vw;
        padding-top: 7%;
        letter-spacing: 0.3vw;
        margin-bottom: 5%;
    }

    .artistas .slide_art p {
        padding: 5%;
        font-style: italic;
        margin-bottom: 0px;
        font-size:2.8vw;
        text-align: center;
    }


    .avatar span {
        padding-top: 6%;
        padding-left: 4%;
        font-size: 2.8vw;
    }

    .avatar span a {font-size: 2.8vw;}



    /* Style mob anterior 
    .webserie h2 {
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .embarque h2 {
        font-size: 3vw;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .embarque p {
        font-size: 2.4vw;
    }
    

    .caminho h3 {
        font-size: 3vw;
    }

    .slide h3 {
        font-size: 3vw;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .slide p {
        font-size: 2.4vw;
        line-height: 1.6;
        padding-right: 5px;
        padding-left: 5px;
    }

    .slide_ft h3 {
        font-size: 2.5vw;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 4%;
    }

    .slide_ft p {
        font-size: 2.4vw;
        line-height: 1.6;
        padding-right: 5px;
        padding-left: 5px;
    }
    
    .buttons h2 {
        font-size: 3vw;
    }

    .buttons p {
        font-size: 2.4vw;
    }

    .servicos h2 {
        margin-bottom: 5%;
        margin-top: 5%;
        font-size: 3vw;
    }

    .bfixed {
        width: 15%;
        height: 18%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .bfixed h2 {
        font-size: 2vw;
        margin-top: 51%;
    }

    .avatar span {
        font-size: 2.5vw;
        padding-top: 7%;
    }

    .avatar span a {
        font-size: 2.5vw;
    }
*/


    .botaog {
        font-size: 20px;
        padding-top: 11px;
        width: 30vw;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .botaon {
        font-size: 20px;
        width: 30vw;
        margin-bottom: 0px;
        margin-top: 10px;
    }


    .botaoweb {
        margin: auto;
        width: 40%;
        font-size: 3vw;
        padding-top: 3vw;
        margin-top: 0%;
    }

    .gsol {
        left: 0%;
        width: 15%;
        top: 24vw;
    }



    .estradavermelha {
        top: 118vw;
    }
    .estradaa {
        position: absolute;
        right: -25%;
        top: 67%;
        width: 72%;
        z-index: -1;
    }

    .casal {
        width: 100%;
        padding-left: 0;
    }

    .mats {
        left: -5%;
        width: 50%;
        bottom: -0.8%;
    }

    .setae {
        top: 35%;
        left: -5%;
    }

    .setad {
        top: 35%;
        right: -5%;
    }

    .setae img,
    .setad img {
        width: 40%;
    }

    .artistas .avatar img {
        float: left;
        width: 15vw;
        height: 15vw;
    }



    .estradav {
        position: absolute;
        right: -29%;
        bottom: 24%;
        width: 70%;
        z-index: -1;
    }

    .estradave {
        position: absolute;
        left: -30%;
        bottom: 26.5%;
        width: 31%;
        z-index: -1;
    }

    .foto {
        position: absolute;
        right: -11%;
        width: 18%;

        top: -8%;
    }

    .nuvemb {
        top: -1%;
        left: -7%;
    }

    .nuvem1 {
        position: absolute;
        top: -270vw;
        left: 0;
        width: 12%;
    }

    .nuvem2 {
        position: absolute;
        top: -180vw;
        right: 0;
        width: 20%;
    }

    .nuvem3 {
        position: absolute;
        top: -90vw;
        left: 0;
        width: 20%;
    }

    .textura2 {
        top: 85vw;
    }



}


@media (min-width:1880px) {
    .estradave {
        position: absolute;
        left: -56%;
        top: 21.5%;
        width: 60%;
        z-index: -1;
    }
}

/*Nuvens*/
@media (max-width:1280px) {
    .nuvem1 {
        top: -86vw;
    }

    .nuvem2 {
        top: -71vw;
    }
}

@media (max-width:1210px) {
    .nuvem1 {
        top: -86vw;
    }

    .nuvem2 {
        top: -72vw;
    }


    .botaog {
        font-size: 15px;
        padding-top: 19px;
    }

    .botaon {
        font-size: 15px;
        padding-top: 29px;
    }
}

@media (max-width:1050px) {
    .nuvem1 {
        top: -97vw;
    }

    .nuvem2 {
        top: -80vw;
    }
}

@media (max-width:920px) {
    .nuvem1 {
        top: -100vw;
    }

    .nuvem2 {
        top: -85vw;
    }
}

@media (max-width:850px) {
    .nuvem1 {
        top: -100vw;
    }

    .nuvem2 {
        top: -88vw;
    }
}

@media (max-width:576px) {
    .nuvem1 {
        top: -270vw;
    }

    .nuvem2 {
        top: -180vw;
    }

    .mochileiros {
        width: 53vw
    }
}

@media (max-width:490px) {
    .mochileiros {
        width: 53vw
    }
    .botaoweb {
        padding-top: 4.5vw;
    }
}

@media (max-width:430px){
    .botaoweb {
        padding-top: 5.5vw;
    }
}

@media (max-width:410px) {
    .mochileiros {
        width: 59vw
    }
}

@media (max-width:380px){
    .botaoweb {
        padding-top: 6.5vw;
    }
}

@media (max-width:360px) {
    .mochileiros {
        width: 65vw
    }
}

@media (max-width:350px){
    .botaoweb {
        padding-top: 7.5vw;
    }
}
